form {
  margin-top: 2%;
  margin-bottom: 4%;
  max-width: 90%;
  line-height: 110%;
  margin-left: 2%;
}
h1 {
  margin-left: 4%;
  margin-top: 4%;
}
h4 {
  font-style: italic;
  margin-left: 4%;
}
form p {
  font-size: 110%;
  text-decoration: underline;
  margin-bottom: 20px;
}
body {
  background-color: #9ec9d1;
}
.container {
  background-color: white;
  margin-bottom: 3%;
  margin-top: 1%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
hr {
  border-color: lightgray;
}
.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sidebar {
  background-color: #efefef;
  border: 1px darkgray solid;
  padding: 15px 15px 15px;
  border-radius: 5px;
  margin-right: 5%;
  margin-bottom: 2%;
}
#nameHere {
  max-width: 25%;
}
#after {
  display: none;
  background-color: #D1A69E;
  margin-top: 1%;
  margin-bottom: 3%;
  font-size: 115%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom:20px;
  border: 1px grey solid;
  border-radius: 8px;
}
.btn-dark {
  color: #fff;
  background-color: #4f4f4f;
  border-color: #606060;
  margin-left: 3%;
  margin-top: 2%;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #fff;
  background-color: #4f4f4f;
  border-color: #255625;
}
.btn-dark:hover {
  color: #fff;
  background-color: #606060;
  border-color: #4f4f4f;
}
.btn-light {
  color: black;
  background-color: #f4c153;
  border-color: #606060;
  margin-top: 2%;
}
.btn-light:focus,
.btn-dark.focus {
  color: black;
  background-color: #f4c153;
  border-color: #255625;
}
.btn-light:hover {
  color: black;
  background-color: #ffdd93;
  border-color: #707070;
}
.light-background {
  background-color: #9ec9d1;
  color: black;
}
.light-background2 {
  background-color: white;
  color: black;
}
.light-background3 {
  background-color: #efefef;
  color: black;
}
.dark-background {
  background-color: black;
}
.light-link{
  color: #8bbce0;
}
.dark-background2 {
  background-color: #333333;
  color:silver;
}
.after-text{
  color: black;
}
